*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
.utmp/RelWithDebInfo/2w323s12/arm64-v8a/.ninja_deps filter=lfs diff=lfs merge=lfs -text
.utmp/RelWithDebInfo/2w323s12/armeabi-v7a/.ninja_deps filter=lfs diff=lfs merge=lfs -text
*.aseprite filter=lfs diff=lfs merge=lfs -text
.utmp/RelWithDebInfo/361p113l/arm64-v8a/.ninja_deps filter=lfs diff=lfs merge=lfs -text
.utmp/RelWithDebInfo/361p113l/armeabi-v7a/.ninja_deps filter=lfs diff=lfs merge=lfs -text
